@font-face {
    font-family: 'helveticaneue';
    src: url("./assets/fonts/helveticaneue.ttf") format('truetype');
}

@font-face {
    font-family: 'helveticaneuebold';
    src: url("./assets/fonts/helveticaneuebold.ttf") format('truetype');
}

@font-face {
    font-family: 'helveticaneuelight';
    src: url("./assets/fonts/helveticaneuelight.ttf") format('truetype');
}

@font-face {
    font-family: 'helveticaneueitalic';
    src: url("./assets/fonts/helveticaneueitalic.ttf") format('truetype');
}

@font-face {
    font-family: 'helveticaneuemedium';
    src: url("./assets/fonts/helveticaneuemedium.ttf") format('truetype');
}

@font-face {
    font-family: 'helveticaneuecondensedbold';
    src: url("./assets/fonts/helveticaneuecondensedbold.ttf") format('truetype');
}