<div class="page-layout">
    <div class="left-bar">
        <h1 class="logo">
            <a href="/" title="Miraway">
                <img src="./assets/images/logo.PNG" />
            </a>
        </h1>
    </div>
    <div class="right-bar">
        <div class="dropdown">

        </div>
        <div class="user-avatar dropdown">
            <div class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <a href="#" class="avatar">
                    <img class="origin round" src="./assets/images/avatar_2.png" alt="avatar" title="">
                </a>
                <a href="#" class="login-name"><span>Administrators</span><i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a (click)="logout()">Đăng xuất</a>
            </div>
        </div>
    </div>
</div>